{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "16"
      },
      "modules": false,
      "useBuiltIns": "entry",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
